---
import Ad from "../components/Ad.astro";
import Banner from "../components/Banner.astro";
---

<Banner />
	<div id="main">
		<footer style="font-size: .5em; color: #999;">
			Photo by <a
				href="https://unsplash.com/@marekpiwnicki?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marek
				Piwnicki</a> on <a
				href="https://unsplash.com/photos/bk4vuZAJNqM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
		</footer>
		<br>
		<Ad title="MagniFusionTech Solutions Unlimited" src="https://i.imgflip.com/7opr3h.jpg" />
		<br>
		<h1 id="main-title">Lorem Ipsum</h1>
		<h3><time>1 April 2020</time></h3>
		<p id="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Cras
			nec dui nec lacus ornare pulvinar. Interdum et
			malesuada fames ac ante ipsum <b>primis</b> in faucibus.
			Etiam
			augue urna, ultrices viverra arcu non,
			lobortis
			fermentum dui. <b>Aenean</b> eget auctor augue. Duis ac
			enim
			ac
			ante dictum convallis. In ultrices nisl eu
			fringilla
			accumsan. Morbi convallis turpis non orci posuere, sed
			mattis
			libero ullamcorper. Sed ac tempor lorem.
			Mauris
			sed ligula eget ipsum molestie commodo nec ut nulla. In
			hendrerit mattis sapien vel gravida. Nam vitae leo
			suscipit, sodales nulla in, fringilla nibh. Maecenas
			neque
			tellus, porta eu dolor ut, bibendum lacinia nisl.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			<br>
			<Ad title="We are superior" src="https://i.imgflip.com/7opsst.jpg"/>
			<br>
			In scelerisque, tortor eu egestas commodo, libero nulla
			luctus
			justo, at gravida tellus diam in quam. In hac
			habitasse platea dictumst. Donec id dui at orci blandit
			congue.
			In efficitur, augue a fermentum tempor,
			justo
			elit dapibus metus, quis porttitor felis justo eu erat.
			Nulla
			facilisi. Morbi pellentesque lectus tempus,
			sagittis est nec, cursus felis. Morbi porta accumsan
			nulla
			ac
			vehicula. <br><br>
			<Ad title="Magnifusion for life" src="https://i.imgflip.com/7opt97.jpg" />
			<br>
			<blockquote>
				Morbi lorem tellus, efficitur at nulla eu, tincidunt
				scelerisque ipsum. Quisque pharetra rhoncus
				sapien, id gravida lacus facilisis eget.
				Pellentesque
				dui
				quam, mollis a pellentesque sed, feugiat eu augue.
			</blockquote>
			Etiam aliquam dictum nibh lacinia ultricies. Cras
			tristique
			tristique tempus. In cursus eleifend erat nec
			laoreet. Pellentesque tellus elit, posuere nec ultrices
			ac,
			lobortis ornare ante. Vestibulum feugiat nec quam a
			suscipit. Morbi lorem tellus, efficitur at nulla eu,
			tincidunt
			scelerisque ipsum. Quisque pharetra rhoncus
			sapien, id gravida lacus facilisis eget. Pellentesque
			dui
			quam,
			mollis a pellentesque sed, feugiat eu augue.
			<br><br>
			<Ad title="Me when SuperUltraMegaHyperCorp" src="https://i.imgflip.com/7opu74.jpg" />
			<br>
			Suspendisse nisi lectus, efficitur iaculis ornare nec,
			sagittis
			nec odio. Etiam ac massa fringilla, suscipit
			lorem nec, egestas ante. <i>Integer quis eleifend lorem,
				ut
				sollicitudin massa.</i> Sed suscipit, nisl at tempor
			tincidunt, elit lectus ornare nulla, a aliquet magna
			nulla
			at
			mi. Phasellus accumsan ante vel felis pellentesque
			efficitur. Donec a mauris velit. Ut suscipit nulla porta
			dui
			placerat gravida. Ut ultricies ut mauris vel
			vulputate. <br><br>
			<Ad title="We are superior" src="https://i.imgflip.com/7opsst.jpg"/>
			<br>
			<figure>
				<img src="src/images/image.jpg" alt="Rolling hills" id="image" loading="lazy">
				<figcaption>
					Photo by <a
						href="https://unsplash.com/es/@zetong?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Zetong
						Li</a> on <a
						href="https://unsplash.com/photos/AEYbdyOH2cU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
				</figcaption>
			</figure>
			<Ad title="MagniFusionTech Solutions Unlimited" src="https://i.imgflip.com/7opr3h.jpg" />
			<br>
			Aliquam laoreet, enim et maximus condimentum, erat elit
			bibendum
			nunc, a posuere odio sem nec tortor. Nunc
			imperdiet purus a ex congue lobortis. Sed magna ligula,
			consectetur nec elit eget, dignissim viverra tortor.
			Aenean blandit imperdiet eros ut lacinia. Fusce sem
			augue,
			laoreet laoreet justo tincidunt, porttitor vulputate
			massa. Ut imperdiet pharetra ex et elementum. Nunc eget
			ligula
			malesuada, fermentum nunc ut, convallis nisi.
			<br><br>
			<Ad title="Magnifusion for life" src="https://i.imgflip.com/7opt97.jpg" />
		</p>
	</div>