<div id="banner-container">
    <figure>
        <img src="src/images/banner.jpg" id="banner" loading="lazy">
    </figure>
</div>
<style>
    #banner {
	  z-index: -1;
	  padding: 0;
	  margin: -1em;
	  border-radius: 0;
	  overflow: hidden;
	}
	#banner-container {
	  width: 115dvw;
	  height: 20dvh;
	  overflow: hidden;
	  position: relative;
	  transform: translateX(-2em) translateY(-1em);
	}
</style>