<div>
    <h2>Filip</h2>
    <img src="/src/images/filip/photo 2.jpg" alt="Filip">
</div>

<style>
    div {
        z-index: 9999;
        position: fixed;
        background-color: white;
    }
</style>