<noscript>
    <div
        style="width: 100vw; height: 100vh; background-color: black;         display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: 9999;">
        <h1>This site
            requires
            javascript</h1>
    </div>
</noscript>